body {
    background-color: #013F8C; /* El color que deseas, en este caso un gris claro */
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color: #EDB700;  /* Color del texto, en este caso un gris oscuro */
    font-size: 30px;  /* Tamaño de la letra */
}

b {
    font-family: 'Helvetica Bold', sans-serif;
    font-weight: bold;
    font-size: 50px; 
}

.fcb {
    background-color: #EDB700;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.Cruz {
    background-color: #EE0730;
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    align-content: space-between;

}

.white_cubes {
    background-color: #FFFFFF;
    width: 70px;
    height: 70px;
}

.Cataluna_flag{
    background-color: #FFD301;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.stripes{
    background-color: #EF072E;
    width: 22px;
    height: 200px;
}

.Blau {
    background-color: #001F99;
    width: 60px;
    height: 200px;

}


.Grana {
    background-color: #9F1F47;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0% 0% 100% 100% / 0% 0% 100% 100% ;
    overflow: hidden;
}


.Ball{
    background-color: #EDB700;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
}


.upper {
    background-color: #EDB700;
    width: 495px;
    height: 250px;
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.lower {
    background-color: #EDB700;
    width: 440px;
    height: 215px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;      
    flex-direction: column;   
    position: relative;
    border-radius: 0% 0% 100% 100% / 0% 0% 100% 100% ;
}
 .centrador {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .top_circle {
    background-color: #EDB700;
    width: 200px;
    height: 90px;
    border-radius: 100% 100% 100% 100% / 0% 0% 100% 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
 }

 .corner_circle{
    background-color: #EDB700;
    width: 200px;
    height: 120px;
    border-radius: 64% 56% 100% 77% / 28% 62% 100% 100%;
    position: absolute;
    top: -30px;
    right: -25px; 
}
.lcorner_circle{
    background-color: #EDB700;
    width: 200px;
    height: 120px;
    border-radius: 64% 56% 100% 77% / 28% 62% 100% 100%;
    position: absolute;
    top: -30px;
    right: 325px; 
    transform: scalex(-1)
}



.r_circle{
    background-color: #EDB700;
    width: 75px;
    height: 250px;
    border-radius: 100% 0% 0% 100% / 100% 0% 0% 100% ;
    position: absolute;
    top: 25px;
    right: -15px; 
}

.l_circle{
    background-color: #EDB700;
    width: 75px;
    height: 250px;
    border-radius: 100% 0% 0% 100% / 100% 0% 0% 100% ;
    position: absolute;
    top: 25px;
    right: 435px; 
    transform: scalex(-1)
}

.btop_circle {
    background-color: #013F8C;
    width: 200px;
    height: 90px;
    border-radius: 100% 100% 100% 100% / 0% 0% 100% 100%;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
 }

 .bcorner_circle{
    background-color: #013F8C;
    width: 200px;
    height: 120px;
    border-radius: 64% 56% 100% 77% / 28% 62% 100% 100%;
    position: absolute;
    top: -45px;
    right: -40px; 
}
.blcorner_circle{
    background-color: #013F8C;
    width: 200px;
    height: 120px;
    border-radius: 64% 56% 100% 77% / 28% 62% 100% 100%;
    position: absolute;
    top: -40px;
    right: 340px; 
    transform: scalex(-1)
}



.br_circle{
    background-color: #013F8C;
    width: 75px;
    height: 260px;
    border-radius: 100% 0% 0% 100% / 100% 0% 0% 100% ;
    position: absolute;
    top: 35px;
    right: -35px; 
}

.bl_circle{
    background-color: #013F8C;
    width: 75px;
    height: 260px;
    border-radius: 100% 0% 0% 100% / 100% 0% 0% 100% ;
    position: absolute;
    top: 35px;
    right: 455px; 
    transform: scalex(-1)
}


 .ltriangle-top {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 100px 173.2px 100px;
    border-color: transparent transparent #013F8C transparent;
    position: absolute;
    top: 149px;
    right: 455px; 
}
.rtriangle-top {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 100px 173.2px 100px;
    border-color: transparent transparent #013F8C transparent;
    position: absolute;
    top: 149px;
    right: -160px;
}

.triangle-bottom {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
  border-width: 40.2px 50px 0px 50px;
  border-color: #EDB700 transparent transparent transparent;
  position: absolute;
  top: 500px;
  right: 250;
}