body {
    background-color: #013F8C; /* El color que deseas, en este caso un gris claro */
}

p {
    color: #EDB700;  /* Color del texto, en este caso un gris oscuro */
    font-family: 'Annifont', sans-serif;
    font-size: 50px;  /* Tamaño de la letra */
}

h1 {
    color: #EDB700;  /* Color del texto, en este caso un gris oscuro */
    font-family: 'Annifont', sans-serif;
    font-size: 70px;
}

li {
    color: #FFFFF9;  /* Color del texto, en este caso un gris oscuro */
    font-family: 'Annifont', sans-serif; 
}

a {
    color: #FFFFF9; /* Cambia el color a rojo */
    font-size: 20px;
}
a:visited {
    color: #9F1F47; /* Color para enlaces visitados */
}
a:hover {
    color: #EDB700; /* Color cuando pasas el mouse */
}
a:active {
    color: #FFFFF9; /* Color cuando haces clic */
}

